div{
    background-image: url(![sushi2 0](https://github.com/anthonybedford/IMC/assets/164389538/a411be3e-eb82-45c6-8d20-e1b185aa994a)
);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 100%;
    background-attachment: fixed
}




.estrutura{
    margin-top: 150%;
    margin-left: 430%;
    background-color: rgba(172, 165, 165, 0);
    border-color: #000;
    border: 1px solid transparent;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 120px
}

h1{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;
    font-weight: 100;
    font-size: 200%
}
