body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 100%;
    background-attachment: fixed
}

div{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.estrutura{
    margin-top: 150%;
    margin-left: 430%;
    background-color: rgba(172, 165, 165, 0);
    border-color: #000;
    border: 1px solid transparent;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 120px
}

h1{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;
    font-weight: 100;
    font-size: 200%
}
