body{
    background-image: url(https://private-user-images.githubusercontent.com/164389538/316038487-db7b0cd5-8a17-4cad-b4d9-18e3bd8696de.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTExMTcwNjYsIm5iZiI6MTcxMTExNjc2NiwicGF0aCI6Ii8xNjQzODk1MzgvMzE2MDM4NDg3LWRiN2IwY2Q1LThhMTctNGNhZC1iNGQ5LTE4ZTNiZDg2OTZkZS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwMzIyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDMyMlQxNDEyNDZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kMDgzMTQwYTA3OTc3YTU3ZDZkM2MxNTRjZWJiNTY5NDQ0OTliMjU2MThlZjViOTlhYWY0Mzc3OTg3ZjdhMzI2JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.392kdSv0yP_RWcn8DPkgJrj2WUJ4V1TGjKnPpWlfY3k);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 100%;
    background-attachment: fixed
}

div{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.estrutura{
    margin-top: 150%;
    margin-left: 430%;
    background-color: rgba(172, 165, 165, 0);
    border-color: #000;
    border: 1px solid transparent;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 120px
}

h1{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;
    font-weight: 100;
    font-size: 200%
}
